<md-card class="long-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ org.name }}</span>
      <span class="md-subhead">{{ org.login }}</span>

      <a ng-if="org.blog" ng-href="{{ org.blog }}" target="_blank">{{ org.blog }}</a>
      <a ng-if="org.email" ng-href="{{ 'mailto:' + org.email }}" target="_blank">{{ org.email }}</a>
      <p ng-if="org.description" ng-bind="org.description"></p>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img ng-src="{{ org.avatar_url }}" />
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content layout="row" layout-align="space-between center">

    <div>
      <md-icon md-svg-src="/assets/icons/created_at.svg">
        <md-tooltip>{{ 'USER.CREATED_AT' | translate }}</md-tooltip>
      </md-icon>
      <span>{{ org.created_at | moment:"DD/MM/YYYY" }}</span>
    </div>

    <div>
      <md-icon md-svg-src="/assets/icons/autorenew.svg">
        <md-tooltip>{{ 'USER.LAST_UPDATED' | translate }}</md-tooltip>
      </md-icon>
      <span>{{ org.updated_at | moment }}</span>
    </div>

    <div>
      <md-icon md-svg-src="/assets/icons/autorenew.svg">
        <md-tooltip>{{ 'USER.PUBLIC_REPOS' | translate }}</md-tooltip>
      </md-icon>
      <span>{{ org.public_repos }}</span>
    </div>

    <div ng-if="org.location">
      <md-icon md-svg-src="/assets/icons/autorenew.svg">
        <md-tooltip>{{ 'USER.LOCATION' | translate }}</md-tooltip>
      </md-icon>
      <span>{{ org.location }}</span>
    </div>

  </md-card-content>
</md-card>
