<md-card class="user-about-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ user.name }}</span>
      <span class="md-subhead">{{ user.login }}</span>

      <a ng-if="user.blog" ng-href="{{ user.blog }}" target="_blank">{{ user.blog }}</a>
      <a ng-if="user.email" ng-href="{{ 'mailto:' + user.blog }}" target="_blank">{{ user.email }}</a>
      <span ng-if="user.company"><a ng-href="{{ '/#/Organization/' + user.company }}">{{ user.company }}</a></span>
      <p ng-if="user.bio" ng-bind="user.bio"></p>
      <p ng-if="user.hireable">
        <strong>For hire</strong>
      </p>
      <p ng-if="user.site_admin">
        <strong>GitHub admin</strong>
      </p>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img ng-src="{{ user.avatar_url }}" />
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content layout="row" layout-align="space-between center">

    <div>
      <md-icon md-svg-src="/assets/icons/followers.svg">
        <md-tooltip>Followers</md-tooltip>
      </md-icon>
      <span>{{ user.followers }}</span>
    </div>

    <div>
      <md-icon md-svg-src="/assets/icons/following.svg">
        <md-tooltip>Following</md-tooltip>
      </md-icon>
      <span>{{ user.following }}</span>
    </div>

    <div>
      <md-icon md-svg-src="/assets/icons/created_at.svg">
        <md-tooltip>Created at</md-tooltip>
      </md-icon>
      <span>{{ user.created_at | moment:"DD/MM/YYYY" }}</span>
    </div>

    <div>
      <md-icon md-svg-src="/assets/icons/autorenew.svg">
        <md-tooltip>Last updated at</md-tooltip>
      </md-icon>
      <span>{{ user.updated_at | moment }}</span>
    </div>

  </md-card-content>
</md-card>
