<md-card class="long-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ 'USER.CONTRIBUTIONS' | translate }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <section class="contained-list">
      <md-subheader class="md-no-sticky">{{ 'USER.CONTRIBUTIONS_SUBHEADER' | translate:{ user: user.login } }}</md-subheader>
      <md-list>
        <md-list-item class="contact-item" ng-repeat="contrib in contribs | unique:'repo.name' | orderBy: '-created_at'">
          <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="md-avatar"/>
          <div class="md-list-item-text compact">
            <p><a ng-href="{{ '/#/Repository/' + contrib.repo.name }}">{{ contrib.repo.name }}</a></p>
          </div>
        </md-list-item>
        <md-list-item class="contact-item" ng-hide="contribs.length">
          <div class="md-list-item-text compact">
            <span>{{ 'USER.NO_CONTRIBUTIONS' | translate }}</span>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-card-content>
</md-card>
