<md-card class="info-card">
  <md-nav-bar md-selected-nav-item="peopleCtrl.currentNav">
     <md-nav-item md-nav-click="peopleCtrl.navTo('following')" name="following">
       {{ 'USER.FOLLOWING' | translate }}
     </md-nav-item>
     <md-nav-item md-nav-click="peopleCtrl.navTo('followers')" name="followers">
       {{ 'USER.FOLLOWERS' | translate }}
     </md-nav-item>
   </md-nav-bar>

  <md-card-content>

    <section class="contained-list" ng-show="peopleCtrl.isShowingFollowing()">
      <md-subheader class="md-no-sticky">{{ 'USER.TOTAL_FOLLOWING' | translate:{ total: following.length } }}</md-subheader>
      <md-list>
        <md-list-item class="contact-item" ng-repeat="contact in following | orderBy:'+login'">
          <img ng-src="{{ contact.avatar_url }}" class="md-avatar" alt="{{ contact.login }}" />
          <div class="md-list-item-text compact">
            <p><a ng-href="{{ '/#/User/' + contact.login }}">{{ contact.login }}</a></p>
          </div>
        </md-list-item>
        <md-list-item class="contact-item" ng-hide="following.length">
          <div class="md-list-item-text compact">
            <span>{{ 'SEARCHBAR.EMPTY_LIST' | translate }}</span>
          </div>
        </md-list-item>
      </md-list>
      </md-list>
    </section>

    <section class="contained-list" ng-show="peopleCtrl.isShowingFollowers()">
      <md-subheader class="md-no-sticky">{{ 'USER.TOTAL_FOLLOWERS' | translate:{ total: followers.length } }}</md-subheader>
      <md-list>
        <md-list-item class="contact-item" ng-repeat="contact in followers | orderBy:'+login'">
          <img ng-src="{{ contact.avatar_url }}" class="md-avatar" alt="{{ contact.login }}" />
          <div class="md-list-item-text compact">
            <p><a ng-href="{{ '/#/User/' + contact.login }}">{{ contact.login }}</a></p>
          </div>
        </md-list-item>
        <md-list-item class="contact-item" ng-hide="followers.length">
          <div class="md-list-item-text compact">
            <span>{{ 'SEARCHBAR.EMPTY_LIST' | translate }}</span>
          </div>
        </md-list-item>
      </md-list>
      </md-list>
    </section>

  </md-card-content>
</md-card>
