<md-card class="info-card">
  <md-nav-bar md-selected-nav-item="reposCtrl.currentNav">
     <md-nav-item md-nav-click="reposCtrl.navTo('repos')" name="repos">
       Repositories
     </md-nav-item>
     <md-nav-item md-nav-click="reposCtrl.navTo('gists')" name="gists">
       Gists
     </md-nav-item>
   </md-nav-bar>

  <md-card-content>
    <div ng-show="reposCtrl.isShowingRepos()">
      <div layout="row" layout-align="start center">
        <md-checkbox ng-model="show.forks">
          Show forked
        </md-checkbox>
        <md-checkbox ng-model="show.starred" >
          Show starred
        </md-checkbox>
      </div>

      <section class="contained-list">
        <md-subheader class="md-no-sticky">{{ repos.length }} owned</md-subheader>
        <md-list>
          <md-list-item class="contact-item" ng-repeat="repo in repos | orderBy:'+name'">
            <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="md-avatar"/>

            <div class="md-list-item-text compact">
              <p><a ng-href="{{ '/#/Repository/' + repo.full_name }}">{{ repo.name }}</a></p>
            </div>
          </md-list-item>
          <md-list-item class="contact-item" ng-hide="repos.length">
            <div class="md-list-item-text compact">
              <span>This list is empty</span>
            </div>
          </md-list-item>
        </md-list>
      </section>

      <section class="contained-list" ng-show="show.forks">
        <md-subheader class="md-no-sticky">{{ forked.length }} forked</md-subheader>
        <md-list>
          <md-list-item class="contact-item" ng-repeat="repo in forked | orderBy:'+name'">
            <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="md-avatar"/>

            <div class="md-list-item-text compact">
              <p><a ng-href="{{ '/#/Repository/' + repo.full_name }}">{{ repo.name }}</a></p>
            </div>
          </md-list-item>
          <md-list-item class="contact-item" ng-hide="forked.length">
            <div class="md-list-item-text compact">
              <span>This list is empty</span>
            </div>
          </md-list-item>
        </md-list>
      </section>

      <section class="contained-list" ng-show="show.starred">
        <md-subheader class="md-no-sticky">{{ starred.length }} starred</md-subheader>
        <md-list>
          <md-list-item class="contact-item" ng-repeat="repo in starred | orderBy:'+name'">
            <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="md-avatar"/>

            <div class="md-list-item-text compact">
              <p><a ng-href="{{ '/#/Repository/' + repo.full_name }}">{{ repo.name }}</a></p>
            </div>
          </md-list-item>
        </md-list>
        <md-list-item class="contact-item" ng-hide="starred.length">
          <div class="md-list-item-text compact">
            <span>This list is empty</span>
          </div>
        </md-list-item>
      </section>
    </div>

    <section class="contained-list" ng-show="reposCtrl.isShowingGists()">
      <md-subheader class="md-no-sticky">{{ gists.length }} gists</md-subheader>
      <md-list>
        <md-list-item class="contact-item" ng-repeat="gist in gists | orderBy:'+name'">
          <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="md-avatar"/>

          <div class="md-list-item-text compact">
            <p ng-if="!gist.description.length">
              <a ng-href="{{ gist.html_url }}" target="_blank">{{ 'gist:' + gist.id }}</a>
            </p>
            <p ng-if="!!gist.description.length">
              <a ng-href="{{ gist.html_url }}" target="_blank">{{ gist.description }}</a>
            </p>
          </div>
        </md-list-item>
        <md-list-item class="contact-item" ng-hide="gists.length">
          <div class="md-list-item-text compact">
            <span>This list is empty</span>
          </div>
        </md-list-item>
      </md-list>
    </section>

  </md-card-content>
</md-card>
