<md-card class="long-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ 'MEMBERS.CONTRIBUTORS' | translate }}</span>
      <span class="md-subheader">{{ 'REPOS.CONTRIB_SUBHEADER' | translate }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column">

  <md-input-container flex>
    <label>{{ 'SEARCHBAR.SEARCH' | translate }}</label>
    <input ng-model="filter" ng-change="filterChanged()" type="text" />
  </md-input-container>

<md-table-container>
  <table md-table>
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column md-order-by="login"><span>{{ 'MEMBERS.USERNAME' | translate }}</span></th>
        <th md-column md-numeric md-order-by="contributions">{{ 'MEMBERS.CONTRIBS' | translate }}<md-tooltip>{{ 'REPOS.CONTRIBS_DETAIL' | translate }}</md-tooltip></th>
        <th md-column md-numeric md-order-by="followers">{{ 'USER.FOLLOWERS' | translate }}</th>
        <th md-column md-numeric md-order-by="public_repos">{{ 'USER.PUBLIC_REPOS' | translate }}</th>
        <th md-column md-numeric md-order-by="public_gists">{{ 'USER.PUBLIC_GISTS' | translate }}</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="contrib in contributors | filter: { login: filter } | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
        <td md-cell>
          <md-list-item class="contact-item">
            <img ng-src="{{ contrib.avatar_url }}" class="md-avatar" alt="{{ contrib.login }}" />
            <div class="md-list-item-text compact">
              <p><a ng-href="{{ '/#/User/' + contrib.login }}">{{ contrib.login }}</a></p>
            </div>
          </md-list-item>
        </td>
        <td md-cell>{{ contrib.contributions }}</td>
        <td md-cell>{{ contrib.followers }}</td>
        <td md-cell>{{ contrib.public_repos }}</td>
        <td md-cell>{{ contrib.public_gists }}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{ contributors.length }}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>

  </md-card-content>
</md-card>
