.info-card {
  width: 440px;
}

.long-card {
  max-width: 897px;
}

section.contained-list {
  [role="list"] {
    max-height: 200px;
    overflow-y: auto;
  }
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
    color: blue;
}
